body {
    margin: 0;
    padding: 0;

    background: url(images/backgroundredesign.png);
    background-size:100% 100%;
}

/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(/images/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

#tourSelector {
	visibility:hidden;
}

.screen { 
    width:100%;
    height:100%;

}
/*

.shelfSleeves {
            width: 20%;
            height: 25%;
            position: absolute;
            left: 79%;
            top: 6%;
            background-color: #aa8866;
            background-image: url("stripes/BeigeStripe.png");
        }
*/




#stage {
    position: absolute;
   /* padding-top: 2.7%;
    padding-left: 2.8%;
    */
    width: 100%;
    height: 100%;
    background-image: url(images/leftscreen.png);
    background-repeat: no-repeat;
    background-size: 152% 157%;
    margin: auto;
    z-index: 6;
}

#gridList{
    position:absolute;
    left:45%;
    top:8%;
    float:right;
    height:67%;
    width:6%;
    background-color:white;
    
}
#gridList table{
 width:100%;
    height:100%;
   
    
}
#gridList table tr td{
    
 
    width:100%;
border:1px solid black;
    
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.strobeBtn{
    
  border: 0px; 
    background-image:url(images/eraseLayer.svg);
      background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;   
} 


.ui-slider-handle {
      width:40%; 
  

  
} 

#sliderDiv {
    position: absolute;
    width:10%;
    left: -18%;
    top:1.7%;
 
    
}


#brainDisplay  {
    padding-top: 2.5%;
    padding-left: 2.7%;
    
}

#brainDisplay {
 
    margin: 0;
    z-index: 5;
    width: 41%;
    height:73%; 
 
}

#sagitalView {
	z-index: 90;
	position: absolute;
	left: 33.5%;
	top: 4.5%;
	width: 10%;
	height: 20%; 
}

#Sagital { 
	width: 100%;
	height: 100%;
}

#sagitaLine {
	position: absolute;
	width: 100%;
	height: 1.5%;

	background-color: red;
}

#brainDisplay #theCanvas {
    position: absolute;
    
    left: 2.7%;
    top: 4.5%;
}

#brainDisplay img {
    left: 0%;
    top: 0%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#points {
    display: none;
}

#controlPanel {
    position: absolute;
    top: 50%;
}

#progressbar {
	height:5%;
}

#controlSlider {
    position: absolute;
    top: 5%;
    left: 20%;
}

#helpText {
    position: absolute;
    top: 42.6%;
    right: 60.7%;
    height: 18.5%;
    width: 30.7%;
    border: 1px solid black;
    font-family: 'Electrolize', sans-serif;
    color: #0e8e1d;
    background-color: #1f2f23;
    padding: 1%;
}

#helpText h3 {
    font-size: 110%;
    color: white;
    -webkit-text-stroke: 1px yellow;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#questionText {
    position: absolute;
    top: 6.9%;
    right: 41.5%;
    height: 15.6%;
    width: 28%;
    border: 1px solid black;
    background-color: #635f22;
    color: #ef9c1c;
    font-family: 'Electrolize', sans-serif;
    padding: 5%;
}

#questionSelect {
	position: absolute;
	top: 7.2%;
	right: 9.05%;
	height: 17.5%;
	width: 27.7%;
	border: 1px solid black;
	background-color: purple;
}

.questionSelectBtn {
	width:20%;
	height:20%;
	padding:0;
	border:1% !important;
	margin:10%, 20%;
	
}

.questionSelectBtn:hover {
	background-color:blue !important;
  	
}



#leaderB {
    position: absolute;
    top: 47%;
    right: 7.7%;
    height: 25.9%;
    width: 44.7%;
    border: 1px solid black;
    font-family: 'Electrolize', sans-serif;
    color: black;
    background-color: white;
    padding: 1%;
}

#leaderB  table {
    border: 2px solid green;
    width: 100%;
}

#leaderB  th {
    background-color: green;
    color: white;
}

#leaderB  td {
    text-align:center;
    padding:2px;
    border:1px solid blue;
}


#skeuomorph {
    position: absolute;
    top: 13.8%;
    right: 2%;
    z-index: -1;
    width: 44%;
    height: 63%;
    padding-top: 13%;
    background-image: url(images/rightscreen.png);
    background-size: 100% 100%;
}

#modal {
    position: absolute;
    margin: 0px;
   left: 2.7%;
    top: 4.5%;
    width: 41%;
    height: 73%;
    z-index: 101;
    background-color: blue;
    /*font-size: 2vw;*/
    opacity: 1;
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    
    -moz-animation: fadein 5s;
    /* Firefox < 16 */
    
    -ms-animation: fadein 5s;
    /* Internet Explorer */
    
    -o-animation: fadein 5s;
    /* Opera < 12.1 */
    
    animation: fadein 5s;
    font-family: 'Press Start 2P', cursive;
    
    color: white;
}

#modal button {
	width: 50%;
	height:45%;
	margin:0;
	padding:0;
	border:1%;
}


div[data-index="3"]{

	width:350px !important;

}

div[data-index="4"]{

	width:350px !important;

}

#modal div {
    position: absolute;
    top: 14%;
    left: 25%;
    width:50%;
    text-align: center;
    vertical-align: middle;
    
}

.pointerImage{
width:3%;
height:3%;
}

.powerOn {
    -webkit-animation: fadein 3s;
    /* Safari, Chrome and Opera > 12.1 */
    
    -moz-animation: fadein 3s;
    /* Firefox < 16 */
    
    -ms-animation: fadein 3s;
    /* Internet Explorer */
    
    -o-animation: fadein 3s;
    /* Opera < 12.1 */
    
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ui-slider .ui-slider-handle {
      background: url(images/LayerSelect.png);
       background-size: 15px 15px;
    background-repeat: no-repeat;
}


.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
